{% with form.incorporado as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{#{% with form.ubicacion as field %}#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="form-group">#}
{#                <label for="id_{{ field.name }}" style="font-size: 15px"#}
{#                       class="label label-default control-label">{{ field.label }}</label>#}
{#                <select name="ubicacion" id="id_ubicacion" class="form-control">#}
{#                    <option value="">---------</option>#}
{#                    {% for ubicacion in ubicaciones %}#}
{#                        <option value="{{ ubicacion.id }}"#}
{#                                {% if ubicacion.id|striptags == id_ubicacion %}selected{% endif %}>{{ ubicacion.ubicacion }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if field.errors %}#}
{#                    <ul class="errorlist">#}
{#                        {% for error in field.errors %}#}
{#                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#                <p class="help-block">{{ field.help_text }} </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endwith %}#}

{#{% with form.organismo as field %}#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="form-group">#}
{#                <label for="id_{{ field.name }}" style="font-size: 15px"#}
{#                       class="label label-default control-label">{{ field.label }}</label>#}
{#                <select name="organismo" id="id_organismo" class="form-control"#}
{#                        {% if not field.value %}disabled{% endif %}>#}
{#                    <option value="">---------</option>#}
{#                    {% for organismo in organismos %}#}
{#                        <option value="{{ organismo.id }}"#}
{#                                {% if organismo.id|striptags == id_organismo %}selected{% endif %}>{{ organismo.nombre }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if field.errors %}#}
{#                    <ul class="errorlist">#}
{#                        {% for error in field.errors %}#}
{#                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#                <p class="help-block">{{ field.help_text }} </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endwith %}#}


{#{% with form.municipio as field %}#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="form-group">#}
{#                <label for="id_{{ field.name }}" style="font-size: 15px"#}
{#                       class="label label-default control-label">{{ field.label }}</label>#}
{#                <select name="municipio_entidad" id="id_municipio_entidad" class="form-control"#}
{#                        {% if not form.organismo.value %}disabled{% endif %}>#}
{#                    <option value="">---------</option>#}
{#                    {% for municipio_entidad in municipios %}#}
{#                        <option value="{{ municipio_entidad.id }}"#}
{#                                {% if municipio_entidad.id|striptags == id_municipio_entidad|striptags %}selected{% endif %}#}
{#                                data-codigo_mes="{{ municipio_entidad.codigo_mes }}"#}
{#                                data-id_mun="{{ municipio_entidad.id }}">{{ municipio_entidad.nombre }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                {% if field.errors %}#}
{#                    <ul class="errorlist">#}
{#                        {% for error in field.errors %}#}
{#                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#                <p class="help-block">{{ field.help_text }} </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endwith %}#}

{#{% with form.entidad as field %}#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="form-group">#}
{#                <label for="id_{{ field.name }}" style="font-size: 15px"#}
{#                       class="label label-default control-label">{{ field.label }}</label>#}
{#                <select name="entidad" id="id_entidad" class="form-control"#}
{#                        {% if not form.organismo.value %}disabled{% endif %} {% if form.organismo.value %}required{% endif %}>#}
{#                    <option value="">---------</option>#}
{#                </select>#}
{#                {% if field.errors %}#}
{#                    <ul class="errorlist">#}
{#                        {% for error in field.errors %}#}
{#                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#                <p class="help-block">{{ field.help_text }} </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endwith %}#}

{% with form.causa_no_incorporado as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}