{% extends "CausalesNoAceptacion/gestion_causales_no_aceptacion.html" %}

{% block encabezado %}

{% endblock %}

{% block section_superior %}

    <div class="col-xs-8 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">Registrar Causa de no Aceptación</div>
            <div class="panel-body">

                {% if form %}
                    <form method="post" id="registrar_causal_no_aceptacion"
                          enctype="multipart/form-data">{% csrf_token %} {% include "General/forms_snippets.html" %}
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit"> Aceptar</button>
                            <button class="btn btn-default" type="reset"> Limpiar</button>
                            <a class="btn btn-success btn_gestion" href="/causales_no_aceptacion"><span
                                    class="glyphicon glyphicon-arrow-left"> </span> Atrás
                            </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block titulo_tabla %}

{% endblock %}

{% block contenido_tabla %}

{% endblock %}