{% extends "General/index.html" %}

{% block encabezado %}
    <header class="row"></header>
{% endblock %}

{% block section_superior %}
{% endblock %}

{% block titulo_tabla %} {% endblock %}

{% block contenido_tabla %}
    <div class="col-xs-9 placeholder" style="margin-left: 10%">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ titulo }}</div>
            <div class="panel-body">
                <form method="post" id="filtrar_provincia">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_provincia" style="font-size: 15px"
                                       class="label label-default control-label">Provincia</label>
                                <select name="provincia" id="id_provincia" class="form-control">
                                    <option value="">---------</option>
                                    {% for provincia in provincias %}
                                        <option value="{{ provincia.id }}"
                                                {% if provincia.id|striptags == id_provincia|striptags %}selected{% endif %}>{{ provincia.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_mes" style="font-size: 15px"
                                       class="label label-default control-label">Mes</label>
                                <select name="mes" id="id_mes" class="form-control" required="required">
                                    <option value="">---------</option>
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_anno" style="font-size: 15px"
                                       class="label label-default control-label">Año</label>
                                <select name="anno" id="id_anno" class="form-control">
                                    <option value="">---------</option>
                                    {% for anno in annos %}
                                        <option value="{{ anno }}">{{ anno }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary" name="aceptar" type="submit"> Exportar excel</button>
                        <a class="btn btn-success btn_gestion" href="{% url 'reportes' %}">
                            <span class="glyphicon glyphicon-arrow-left"> </span> Ir atrás
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}