{% extends "EmpleoEstatal/EgresadosEscuelasEspeciales/listar_egresados_escuelas_especiales.html" %}

{% block encabezado %}
    <header class="row"></header>
{% endblock %}

{% block section_superior %}
{% endblock %}

{% block titulo_tabla %} {% endblock %}

{% block contenido_tabla %}
    <div class="col-xs-9 placeholder" style="margin-left: 10%">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ nombre_form }}</div>
            <div class="panel-body">
                {% if form %}
                    <form method="post">{% csrf_token %}
                        {% include "General/forms_snippets.html" %}
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit"> Aceptar</button>
                            <button class="btn btn-default" type="reset"> Limpiar</button>
                            <a class="btn btn-success btn_gestion" href = "/egresados_escuelas_especiales/{{ id_egresado_escuela_especial }}">
                                <span class="glyphicon glyphicon-arrow-left"> </span> Ir atrás
                            </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>

        alert('LA OPCION   **RE-INCORPORAR**   ES PARA DARLE UBICACION A UNA PERSONA QUE FUE ANTERIORMENTE UBICADA, NO PARA ' +
            'ARREGLAR INFORMACION MAL INTRODUCIDA');

        var ubicacion = $('#id_ubicacion'),
            organismo = $('#id_organismo'),
            entidad = $('#id_entidad'),
            municipio_entidad = $('#id_municipio_entidad');

        ubicacion.on('change', function () {
            if(ubicacion.val() === "1"){
                organismo.prop('disabled', false);
                organismo.prop('required', true);
                entidad.prop('disabled', false);
                entidad.prop('required', true);
                municipio_entidad.prop('disabled', false);
                municipio_entidad.prop('required', true);
            }else
            if(ubicacion.val() === "3"){
                organismo.prop('disabled', false);
                organismo.prop('required', true);
                entidad.prop('disabled', false);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', false);
                municipio_entidad.prop('required', false);
            }else
            if(ubicacion.val() === "2" || ubicacion.val() === "4"){
                organismo.prop('disabled', true);
                organismo.prop('required', false);
                entidad.prop('disabled', true);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', true);
                municipio_entidad.prop('required', false);
            }
        });

    </script>

{% endblock %}