{% extends "General/index.html" %}

{% block encabezado %}

    <header class="row">
        {% if messages %}
            {% for message in messages %}
                <p class="mensaje_exito"><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
            {% endfor %}
        {% endif %}
    </header>

{% endblock %}

{% block section_superior %}

    <div class="panel panel-primary">
        <div class="panel-heading">Listado: Estados de Incorporado</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"
                       id="tabla_gestion">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th width="100">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estado_incorporado in estados_incorporados %}
                        <tr>
                            <td>{{ estado_incorporado.estado }}</td>
                            <td class="opciones_gestion" align="center">
                                <button id="{{ estado_incorporado.id }}" class="btn btn-info modal-estado_incorporado"
                                        data-toggle="modal" data-target="#modal_modificar_estado_incorporado"
                                        onclick="Objeto.__init__({{ estado_incorporado.id }},'estados_incorporados','modal_modificar_estado_incorporado').modificar();">
                                      <span class="glyphicon glyphicon-pencil">
                                      </span>
                                </button>

                                <button id="{{ estado_incorporado.id }}" class="btn btn-danger modal-estado_incorporado"
                                        data-toggle="modal" data-target="#modal_eliminar_estado_incorporado"
                                        onclick="Objeto.__init__({{ estado_incorporado.id }},'estados_incorporados','modal_eliminar_estado_incorporado').eliminar();">
                                      <span class="glyphicon glyphicon-trash">
                                      </span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success btn_gestion" href="{% url 'registrar_estado_incorporado' %}">
                <span class="glyphicon glyphicon-plus"></span> Registrar estado
            </a>
        </div>
    </div>

    <div class="modal fade" id="modal_eliminar_estado_incorporado" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modal_eliminar">Confirmación de eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro de eliminar el estado seleccionado</p>
                </div>
                <div class="modal-footer">
                    <a type="submit" class="btn btn-default">Aceptar</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_modificar_estado_incorporado" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modal_modificar">Confirmación de modificación</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro de modificar el estado seleccionado</p>
                </div>
                <div class="modal-footer">
                    <a type="submit" class="btn btn-default">Aceptar</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>

{#    <div class="modal fade" id="modal_activar_nivel_escolar" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <!-- Modal content-->#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h4 class="modal-title modal_activar">Confirmación de activar</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <p>Está seguro de activar el nivel escolar seleccionado</p>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <a type="submit" class="btn btn-default">Aceptar</a>#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock %}