{% comment %}Organismo{% endcomment %}
{% with form.organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}Municipio{% endcomment %}
{% with form.municipio as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="{{ field.name }}" id="id_{{ field.name }}" class="form-control">
                    <option value="{{ municipio.id }}" selected>{{ municipio }}</option>
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}Entidad{% endcomment %}
{% with form.entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" required
                        {% if not form.municipio.value %}disabled{% endif %}>
                    <option value="">---------</option>
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}Total Trabajadores Entidad{% endcomment %}
{% with form.total_trabajadores_entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}hospitalizados_covid{% endcomment %}
{% with form.hospitalizados_covid as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}certificado_medico_covid{% endcomment %}
{% with form.certificado_medico_covid as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}permanecen_entidad{% endcomment %}
{% with form.permanecen_entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}trabajo_distancia{% endcomment %}
{% with form.trabajo_distancia as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}teletrabajo{% endcomment %}
{% with form.teletrabajo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}interruptos{% endcomment %}
{% with form.interruptos as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% comment %}causa_interrupcion{% endcomment %}
{% with form.causa_interrupcion as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.irma_misma_entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.irma_otra_entidad_mismo_organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.irma_otro_organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.ircl_misma_entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.ircl_otra_entidad_mismo_organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.ircl_otro_organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.vinculados_produccion_alimentos as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.garantia_salarial_100 as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.garantia_salarial_60 as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.locales_cerrados as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}

{% with form.total_locales as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}