{% extends "Interruptos/InterruptosCOVID/gestion_interruptos_covid.html" %}
{% load staticfiles %}

{% block encabezado %}
    <header class="row"></header>
{% endblock %}

{% block section_superior %}
{% endblock %}

{% block titulo_tabla %} {% endblock %}

{% block contenido_tabla %}
    <div class="col-xs-9 placeholder" style="margin-left: 10%">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ nombre_form }}</div>
            <div class="panel-body">
                {% if form %}
                    <form method="post" id="modificar_interrupto_covid" enctype="multipart/form-data">{% csrf_token %}
                        {% include "Interruptos/InterruptosCOVID/form_registrar_covid.html" %}
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit"> Aceptar</button>
                            <a class="btn btn-success btn_gestion" href="{% url 'gestion_interruptos_covid' %}">
                                <span class="glyphicon glyphicon-arrow-left"> </span> Ir atrás
                            </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="{% static "js/validacion_interrupto_covid_entidades.js" %}"></script>

{% endblock %}

