{% with form_menores.fuente_procedencia as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.municipio_solicita_empleo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="{{ field.name }}" id="id_{{ field.name }}" class="form-control">
                    <option value="{{ municipio_solicita_empleo.id }}" selected>{{ municipio_solicita_empleo }}</option>
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.nombre_apellidos as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.ci as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.municipio_residencia as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.direccion_particular as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.nivel_escolar as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.carrera as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="carrera" id="id_carrera" class="form-control" {% if not field.value %}{% endif %}>
                    <option value="">---------</option>
                    {% for carrera in carreras %}
                        <option value="{{ carrera.id }}"
                                {% if carrera.id|striptags == id_carrera|striptags %}selected{% endif %}
                                data-tipo="{{ carrera.tipo }}">{{ carrera.nombre }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.fecha_autorizo_dmt as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-groupu">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.ubicado as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" required>
                    <option value="">---------</option>
                    <option value="True" {% if id_ubicado == 'True' %}selected{% endif %}>Si</option>
                    <option value="False" {% if id_ubicado == 'False' %}selected{% endif %}>No</option>
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.ubicacion as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="ubicacion" id="id_ubicacion" class="form-control"
                        {% if not field.value %}disabled{% endif %}>
                    <option value="">---------</option>
                    {% for ubicacion in ubicaciones %}
                        <option value="{{ ubicacion.id }}"
                                {% if ubicacion.id|striptags == id_ubicacion %}selected{% endif %}>{{ ubicacion.ubicacion }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.organismo as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="organismo" id="id_organismo" class="form-control"
                        {% if not field.value %}disabled{% endif %}>
                    <option value="">---------</option>
                    {% for organismo in organismos %}
                        <option value="{{ organismo.id }}"
                                {% if organismo.id|striptags == id_organismo %}selected{% endif %}>{{ organismo.nombre }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.municipio_entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="municipio_entidad" id="id_municipio_entidad" class="form-control"
                        {% if not form_menores.organismo.value %}disabled{% endif %}>
                    <option value="">---------</option>
                    {% for municipio_entidad in municipios %}
                        <option value="{{ municipio_entidad.id }}"
                                {% if municipio_entidad.id|striptags == id_municipio_entidad|striptags %}selected{% endif %}
                                data-codigo_mes="{{ municipio_entidad.codigo_mes }}"
                                data-id_mun="{{ municipio_entidad.id }}">{{ municipio_entidad.nombre }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.entidad as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="entidad" id="id_entidad" class="form-control"
                        {% if not form_menores.organismo.value %}disabled{% endif %} {% if form_menores.organismo.value %}required{% endif %}>
                    <option value="">---------</option>
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.causa_no_ubicado as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" {% if not field.value %}disabled{% endif %}>
                    <option value="">---------</option>
                    {% for causa in causas_no_ubicado %}
                        <option value="{{ causa.id }}"
                                {% if causa.id|striptags == id_causa_no_ubicado|striptags %}selected{% endif %}>{{ causa.causa }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}
{% with form_menores.incorporado as field %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="id_{{ field.name }}" style="font-size: 15px"
                       class="label label-default control-label">{{ field.label }}</label>
                <select name="incorporado" id="id_incorporado" class="form-control"
                        {% if not field.value %}disabled{% endif %}>
                    <option value="">---------</option>
                    {% for incorporado in estados_incorporado %}
                        <option value="{{ incorporado.id }}"
                                {% if incorporado.id|striptags == id_incorporado %}selected{% endif %}>{{ incorporado.estado }}</option>
                    {% endfor %}
                </select>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li style="color: #ac2925; font-size: 12px">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="help-block">{{ field.help_text }} </p>
            </div>
        </div>
    </div>
{% endwith %}