{% extends "EmpleoEstatal/Menores/gestion_menores.html" %}
{% load staticfiles %}

{% block encabezado %}
    <header class="row"></header>
{% endblock %}

{% block section_superior %}
{% endblock %}

{% block titulo_tabla %} {% endblock %}

{% block contenido_tabla %}
    <div class="col-xs-9 placeholder" style="margin-left: 10%">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ nombre_form }}</div>
            <div class="panel-body">
                {% if form_menores %}
                    <form method="post" id="registrar_menor">{% csrf_token %}
                        {% include "EmpleoEstatal/Menores/forms.html" %}
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit"> Aceptar</button>
                            <a class="btn btn-default" href="{% url 'registrar_menor' %}"> Limpiar </a>
                            <a class="btn btn-success btn_gestion" href="{% url 'listar_menores' %}">
                                <span class="glyphicon glyphicon-arrow-left"> </span> Ir atrás
                            </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>

{#        var $niveles_escolares = [];#}
{#        $('#id_nivel_escolar').find('option').each(function (k, v) {#}
{#            $niveles_escolares.push(v);#}
{#        });#}
{#        alert($niveles_escolares);#}
{#        var fuente_procedencia = $('#id_fuente_procedencia');#}
{##}
{#        fuente_procedencia.on('change', function () {#}
{#            var nivel_escolar = $('#id_nivel_escolar');#}
{##}
{#            if(fuente_procedencia.val() === '12' || fuente_procedencia.val() === '14'){#}
{#                nivel_escolar.html('');#}
{#                    for (var i = 0; i < $niveles_escolares.length; i++) {#}
{#                        if ($niveles_escolares[i].dataset.nombre === '6to Grado' || $niveles_escolares[i].dataset.nombre === '9no Grado') {#}
{#                            nivel_escolar.append($niveles_escolares[i]);#}
{#                        }#}
{#                    }#}
{#            }else#}
{#            if(fuente_procedencia.val() === '13'){#}
{#                nivel_escolar.html('');#}
{#                    for (var i = 0; i < $niveles_escolares.length; i++) {#}
{#                        nivel_escolar.append($niveles_escolares[i]);#}
{#                    }#}
{#            }#}
{#        });#}

        var ubicacion = $('#id_ubicacion'),
            organismo = $('#id_organismo'),
            entidad = $('#id_entidad'),
            municipio_entidad = $('#id_municipio_entidad');

        ubicacion.on('change', function () {
            if(ubicacion.val() === "1"){
                organismo.prop('disabled', false);
                organismo.prop('required', true);
                entidad.prop('disabled', false);
                entidad.prop('required', true);
                municipio_entidad.prop('disabled', false);
            }
            else
            if(ubicacion.val() === "3"){
                organismo.prop('disabled', false);
                organismo.prop('required', true);

                entidad.prop('disabled', true);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', true);
            }
            else{
                organismo.prop('disabled', true);
                organismo.prop('required', false);
                entidad.prop('disabled', true);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', true);
            }
        });

        var ubicado = $('#id_ubicado');
        ubicado.on('change', function () {
            var ubicacion = $('#id_ubicacion');
            var organismo = $('#id_organismo');
            var entidad = $('#id_entidad');
            var municipio_entidad = $('#id_municipio_entidad');
            var causa_no_ubicado = $('#id_causa_no_ubicado');
            var incorporado = $('#id_incorporado');

            if ($(this).val() === 'True') {
                ubicado.prop('required', false);

                ubicacion.prop('disabled', false);
                ubicacion.prop('required', true);

                ubicacion.on('change', function () {
                    if(ubicacion.val() === "1" || ubicacion.val() === "3"){
                        organismo.prop('disabled', false);
                        organismo.prop('required', true);
                        entidad.prop('disabled', false);
                        entidad.prop('required', true);
                        municipio_entidad.prop('disabled', false);
                    }else{
                        organismo.prop('disabled', true);
                        organismo.prop('required', false);
                        entidad.prop('disabled', true);
                        entidad.prop('required', false);
                        municipio_entidad.prop('disabled', true);
                    }
                });

                incorporado.prop('disabled', false);
                incorporado.prop('required', true);
                causa_no_ubicado.prop('disabled', true);
                causa_no_ubicado.prop('required', false);
            }
            if ($(this).val() === 'False'){
                ubicado.prop('required', false);

                ubicacion.prop('disabled', true);
                ubicacion.prop('required', false);
                organismo.prop('disabled', true);
                organismo.prop('required', false);
                entidad.prop('disabled', true);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', true);
                incorporado.prop('disabled', true);
                incorporado.prop('required', false);

                causa_no_ubicado.prop('disabled', false);
                causa_no_ubicado.prop('required', true);
            }
            if($(this).val() === ''){
                ubicado.prop('required', true);

                ubicacion.prop('disabled', true);
                ubicacion.prop('required', false);
                organismo.prop('disabled', true);
                organismo.prop('required', false);
                entidad.prop('disabled', true);
                entidad.prop('required', false);
                municipio_entidad.prop('disabled', true);
                incorporado.prop('disabled', true);
                incorporado.prop('required', false);
                causa_no_ubicado.prop('disabled', true);
                causa_no_ubicado.prop('required', false);
            }
        });

    </script>

    <script  src="{% static "js/validaciones_empleo_estatal.js" %}"></script>

{% endblock %}