{% extends "General/index.html" %} {% block encabezado %}

<header class="row">
    {% if messages %} {% for message in messages %}
    <p class="mensaje_exito"><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
    {% endfor %} {% endif %}
</header>
{% endblock %} {% block section_superior %}
<div class="panel panel-primary">
    <div class="panel-heading">Listado de entidades</div>

    <div class="panel-body">
        <div class="panel-body-superior">

            <div class="row">

                <div class="col-xs-3 pull-left">
                    <a class="btn btn-success btn_gestion" href="{% url 'registrar_entidad' %}">
                        <span class="glyphicon glyphicon-plus"></span> Registrar entidad
                    </a>
                </div>

                <div class="col-xs-3 pull-right">
                    <form action="" method="GET">
                        <div class="input-group">

                            <input type="text" class="form-control" name="q"
                                   aria-label="..." placeholder="Buscar..." style="height:32px;"
                                   value="{{ request.GET.q }}">
                            <div class="input-group-btn">

                                <button type="submit" class="btn btn-default btn_normal"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="table-responsive">
            <table class="usar_DataTable_3 table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>

                    <tr>
                        <th>Codigo Entidad</th>
                        <th>Nombre</th>
                        <th>Organismo</th>
                        <th>Municipio</th>
                        <th>Fecha de registro</th>
                        <th>Estado</th>

                        <th id="opciones_gestion_titulo">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for entidad in entidades %}
                    <tr>
                        <td>{{ entidad.id_codigo_entidad }}</td>
                        <td>{{ entidad.e_nombre }}</td>
                        <td>{{ entidad.id_organismo_s }}</td>
                        <td>{{ entidad.municipio }}</td>
                        <td>{{ entidad.fecha_registro }}</td>
                        {% if entidad.estado == True %}
                            <td> <span class="label label-success">Activa</span> </td>
                        {% else %}
                            <td> <span class="label label-danger">Desactivada</span> </td>
                        {% endif %}
                        <td class="opciones_gestion">
                           {% if entidad.estado == True %}

                                <a href="{% url 'modificar_entidad' entidad.id_codigo_entidad %}"
                                       class="btn btn-info" title="Modificar"><span
                                            class="glyphicon glyphicon-pencil"></span></a>

                                <button id="{{ entidad.id_codigo_entidad  }}" class="btn btn-danger modal-entidad" title="Desactivar" data-toggle="modal" data-target="#modal_eliminar_entidad" onclick="Objeto.__init__({{ entidad.id_codigo_entidad }},'entidades','modal_eliminar_entidad').eliminar();">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>

                           {% endif %}
                            {% if entidad.estado == False %}
                                <button id="{{ entidad.id_codigo_entidad  }}" class="btn btn-success modal-entidad" title="Activar" data-toggle="modal" data-target="#modal_activar_entidad" onclick="Objeto.__init__({{ entidad.id_codigo_entidad }},'entidades','modal_activar_entidad').activar();">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% block paginate %}
            {% if entidades.has_previous or entidades.has_next %}
                    <ul class="pagination pull-right" style="position: relative;top: -25px;padding: 0;margin: 0">
                        {% if entidades.has_previous %}
                            <li>
                                <a href="?pagina={{ entidades.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
                                    Anterior
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        <li class="disabled"><a>Página {{ entidades.number }} de {{ entidades.paginator.num_pages }}</a></li>

                        {% if entidades.has_next %}
                            <li>
                                <a href="?pagina={{ entidades.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
                                    Próximo
                                </a>
                            </li>
                        {% else %}

                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    Próximo
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
        {% endblock %}
    </div>
</div>

<div class="modal fade" id="modal_eliminar_entidad" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_eliminar">Confirmación de desactivación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de desactivar la entidad seleccionada?</p>
            </div>
            <div class="modal-footer">
                <a type="submit" class="btn btn-default">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal_activar_entidad" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_activar">Confirmación de activación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de activar la entidad seleccionada?</p>
            </div>
            <div class="modal-footer">
                <a type="submit" class="btn btn-default">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal_modificar_entidad" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_modificar">Confirmación de modificación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de modificar la entidad seleccionada?</p>
            </div>
            <div class="modal-footer">
                <a type="submit" class="btn btn-default">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>


{% endblock %}